
  nav {
      a {
        i {
          color: white;
        }
      }
   }

  .logo {
    display: flex;
    align-items: center;
  }

.nav_under_logo {
  padding: 50px 0;
  text-align: center;
  a {
    font-size: 20px;
    color: #837970;
    padding: 50px;

  }
}
